# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Virtual environments
venv/
ENV/
env/
.venv

# Docker
*.tar
*.tar.gz
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# AWS
.aws/
*.pem
response.json
samconfig.toml

# Testing
.hypothesis/

# Temporary files
tmp/
temp/
*.tmp
